<template lang="pug">
  v-row.pa-0.ma-0.nuxt-wizard-default
    v-col.pa-0.col-12.col-md-4
      v-card.rounded-0.pa-7(
        height="100%"
        flat
        :color="getBackgroundColor"
        :style="'color:' + getTextColor"
      )
        v-card-title
          h2 {{ item.help.title }}
        v-card-text.d-flex.justify-center.my-1
          .d-flex(v-if="hasLordicon")
            nuxt-lord-icon(
              :src="getLordiSrc(item.help.lordiName)"
              trigger="loop"
              :size="lordiSize"
            )
          v-img(
            v-if="item.help.image"
            :src="item.help.image"
            max-width="200"
          )
          v-icon(
            v-if="item.help.icon"
            style="font-size: 100px"
            x-large
            :color="getTextColor"
          ) {{ 'mdi-' + item.help.icon }}
        div.ma-3.font-weight-bold(
          v-html="item.help.tips"
        )

    v-col.pa-0.col-12.col-md-8.mb-9
      v-card.rounded-0.pa-5.px-md-7.py-md-5(
        flat
      )
        v-card-title {{ item.content.title }}
        v-card-subtitle.my-1(
          v-if="item.content.description"
        ) {{ item.content.description }}
        v-card-text.my-1
          component(
            :is="getWizEditor"
            :check-discount-group="item.content.checkDiscountGroup"
            :content-data="item.content.data"
            :label="item.content.label"
            :apiName="item.apiName"
            :data-to-save="dataToSave"
            :isCurrent="isCurrent"
            :maxLength="item.content.maxLength"
            :alphanumeric="item.content.alphanumeric"
            :mandatory="isMandatory"
            :currency="getCurrency"
            :regex="getRegEx"
            :serviceTypeId="serviceTypeId"
            :default-images="item.content.images"
            @valid="valid"
            @changeServiceType="changeServiceType"
            @importServices="importServices"
          )


</template>

<script>
import { NuxtLordIcon, getLordiSrc } from 'nuxt-lordicon'

export default {
  inject: ['editorComponents'],

  components: {
    NuxtLordIcon
  },

  props: {
    dataToSave: {
      required: true,
      type: Object
    },
    isCurrent: {
      required: true,
      type: Boolean
    },
    item: {
      required: true,
      type: Object
    },
    serviceTypeId: {
      default: null,
      type: Number
    }
  },

  data () {
    return {
      getLordiSrc
    }
  },

  computed: {
    getBackgroundColor () {
      return this.item.help.backgroundColor
    },
    getCurrency () {
      return this.item?.content?.currency
    },
    getRegEx () {
      let regex
      if (this.item?.content?.regex) {
        regex = new RegExp(this.item?.content?.regex)
      }
      return regex
    },
    getTextColor () {
      return '#FFFFFF'
    },
    getWizEditor () {
      return this.editorComponents[this.item.content.editor]
    },
    hasLordicon () {
      return this.item.help.lordiName && getLordiSrc(this.item.help.lordiName)
    },
    isMandatory () {
      return this.item?.content?.mandatory ?? false
    },
    lordiSize () {
      if (this.item.help.lordiSize) {
        return parseInt(this.item.help.lordiSize)
      }
      return undefined
    }
  },

  methods: {
    importServices () {
      this.$emit('importServices')
    },
    changeServiceType (id, groupId) {
      this.$emit('changeServiceType', id, groupId)
    },
    valid (data) {
      this.$emit('valid', data)
    }
  }
}
</script>
