<template lang="pug">
  .nuxt-wizard
    v-dialog(
      v-model="internalValue"
      style="z-index: 204"
      :max-width="dialogMaxWidth"
      :persistent="persistent"
    )
      v-stepper.ct-wizard-stepper(v-model="step")
        v-stepper-items
          v-stepper-content.pa-0(
            v-for="(item,index) in content"
            :key="index"
            :step="index + 1"
          )
            component.pa-0.ma-0(
              :is="getLayoutComponent(item)"
              :data-to-save="data"
              :isCurrent="step === index + 1"
              :item="item"
              :serviceTypeId="serviceTypeId"
              @changeServiceType="changeServiceType"
              @importServices="importServices"
              @valid="valid"
            )

        v-row.pa-0.ma-0.justify-end.stepper-controls
          v-col.pa-0.col-12.col-md-8
            v-stepper-header.d-flex.align-center.flex-nowrap.justify-space-around
              v-btn.pa-0(
                large
                text
                :disabled="disabledBack"
                @click="change(true)"
              )
                v-icon mdi-chevron-{{ getChevronBack }}
              .d-flex.justify-center.flex-wrap
                v-stepper-step.pa-1(
                  v-for="(item,index) in content"
                  :key="index"
                  :class="{ 'clickable': checkValidStep(index) }"
                  :complete="step > index + 1"
                  :step="index + 1"
                  @click="changeManual(index)"
                )
              v-btn(
                v-if="step === content.length"
                large
                text
                color="primary"
                :disabled="disabledNext"
                :loading="isLoading"
                @click="saveData"
              )
                span {{ $t('gui.save') }}
              v-btn(
                v-else
                large
                text
                color="primary"
                :disabled="disabledNext"
                @click="change(false)"
              )
                span {{ $t('gui.next') }}
                v-icon mdi-chevron-{{ getChevronNext }}
</template>
<script>
import cloneDeep from 'lodash/cloneDeep'

export default {
  components: {
    WizardDefault: () => import('./layouts/WizardDefault.vue')
  },

  props: {
    content: {
      required: true,
      type: Array
    },
    dialogMaxWidth: {
      default: '1208px',
      type: String
    },
    initData: {
      default: undefined,
      type: Object
    },
    isLoading: {
      required: true,
      type: Boolean
    },
    isRtl: {
      default: false,
      type: Boolean
    },
    persistent: {
      default: true,
      type: Boolean
    },
    serviceTypeId: {
      default: null,
      type: Number
    },
    value: {
      required: true,
      type: Boolean
    }
  },

  data () {
    return {
      completedSteps: [],
      data: {},
      internalValue: false,
      step: 1
    }
  },

  computed: {
    disabledBack () {
      return this.step === 1
    },
    disabledNext () {
      return !this.completedSteps[this.getIndexCompletedSteps]
    },
    getChevronNext () {
      return this.isRtl ? 'left' : 'right'
    },
    getChevronBack () {
      return this.isRtl ? 'right' : 'left'
    },
    getIndexCompletedSteps () {
      return this.step - 1
    }
  },

  watch: {
    content: {
      handler () {
        [...Array(this.content.length).keys()].forEach((index) => {
          this.completedSteps.push(false)
        })
      },
      deep: true
    },

    initData: {
      handler (value) {
        if (value) {
          this.data = cloneDeep(value)
        }
      },
      deep: true,
      immediate: true
    },

    internalValue () {
      this.$emit('input', this.internalValue)
      this.$emit('set-is-open', this.internalValue)
    },
    value () {
      this.internalValue = this.value
    }
  },

  beforeCreate () {
    if (['de', 'en', 'ar', 'es'].includes(this.$i18n.locale)) {
      this.$i18n.mergeLocaleMessage(this.$i18n.locale, require('../../lib/i18n/' + this.$i18n.locale + '/views'))
    }
  },

  mounted () {
    this.internalValue = this.value
  },

  methods: {
    change (isBack) {
      if (isBack) {
        this.step--
      } else if (this.completedSteps[this.getIndexCompletedSteps]) {
        this.step++
      }
    },
    changeManual (step) {
      if (this.checkValidStep(step)) {
        this.step = step + 1
      }
    },
    changeServiceType (id, groupId) {
      this.$emit('changeServiceType', id, groupId)
    },
    checkValidStep (step) {
      return step + 1 < this.step || this.completedSteps[step - 1]
    },
    getLayoutComponent (item) {
      return item?.layout || 'WizardDefault'
    },
    importServices () {
      this.$emit('importServices')
    },
    saveData () {
      this.$emit('saveData', this.data)
      this.$emit('set-is-open', false)
    },
    valid (data) {
      if (data.valid) {
        this.$set(this.data, data.name, data.value)
      }
      this.$set(this.completedSteps, this.getIndexCompletedSteps, data.valid)
    }
  }
}
</script>
<style lang="sass" scoped>
.clickable
  cursor: pointer
.stepper-controls
  position: absolute
  bottom: 0
  width: 100%
</style>
